@define-color colorBackground #0d52bf;

.bg-color {
    background-color: @colorBackground;
    transition: all 250ms ease-in-out;
}

.timer-label {
    font-family: "Inter";
    font-size: 48pt;
    font-feature-settings: "tnum";
    color: white;
}

.start-button {
    -gtk-icon-size: 64px;
}

.forward-button {
    -gtk-icon-size: 40px;
}
