.timer-label {
    font-family: "Inter";
    font-size: 48pt;
    font-feature-settings: "tnum";
    color: white;
}

.start-button {
    -gtk-icon-size: 64px;
}

.forward-button {
    -gtk-icon-size: 32px;
}
