[Desktop Entry]
Name=Pomodoro
GenericName=Pomodoro Timer
Comment=Timer for pomodoro technique
Categories=Utility;
Exec=com.github.oowoosh0.pomodoro
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Timer;
X-GNOME-UsesNotifications=true
